<ul class="nav nav-pills nav-justified" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [class.active]="isLocalActive" data-toggle="pill" href="#local-dealer" (click)="isLocalActive = true">Local Dealer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="!isLocalActive" data-toggle="pill" href="#online-retailer" (click)="isLocalActive = false">Online Retailer</a>
  </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container" [class.active]="isLocalActive" id="local-dealer">
      LocalDealer
    </div>
    <div class="tab-pane container" [class.active]="!isLocalActive" id="online-retailer">
      Online Retailer
    </div>
  </div>
    
