<div>
    <div id="top-layer">

        <form class="form-inline" #searchForm="ngForm">
            <span class="form-group">
                <input type="text" class="form-control" name="search" [(ngModel)]="searchText">
            </span>
            <button type="submit" class="btn btn-primary" (click)="onSearch()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>

        <div *ngIf="localStores.length > 0">
            <div id="stores-list">
                <local-stores-list *ngIf="!isStoresListCollapsed" [localStores]="localStores" (storeClick)="onStoreClick($event)">
                </local-stores-list>
            </div>
            <span class="card bg-primary text-white text-center" (click)="toggleStoresList()">
                <span *ngIf="isStoresListCollapsed">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i> Display List</span>
                <span *ngIf="!isStoresListCollapsed">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i> Hide List
                </span>
            </span>
        </div>
    </div>

    <div id="map">
        <agm-map [latitude]="centerLat" [longitude]="centerLng">
            <agm-marker *ngFor="let localStore of localStores; index as i;" [opacity]="(selectedStoreIndx == -1 || i == selectedStoreIndx) ? 1 : 0.4"
                [latitude]="localStore.geoInfo.lat" [longitude]="localStore.geoInfo.lng">
            </agm-marker>
        </agm-map>
    </div>
</div>