agm-map {
    height: 100%;
}

#map{
    z-index: 1;
}

#top-layer{
    z-index: 2 ;
    position: absolute;   
    padding-top: 10px;
    padding-left : 10px;
}

#top-layer > form{
    height: 10%;
}

#top-layer > .stores-list{
    height: 85%;
  
}